body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: black;
/* Property of the parent div*/
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;

}
/* Property of the divs inside the parent div */
.box {
  width: 500px;
  height: 220px;
  border: 1px solid rgb(207, 184, 6);
  margin: 10px;
  text-align: center;
  color: rgb(207, 184, 6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
/* image property */
}
.box img {
  max-width: 100%;
  max-height: 250px;
  margin-bottom: 10px;
}
/*///////////// Both of these are for the Navbar properties  //////////////////*/
.center{
  list-style: none;
  padding: 0;
  overflow: hidden;
  border-style: solid;
  border-color:rgb(207, 184, 6);
  background-color: black;
  margin-top: 400px;
  width: 99.45%;
}
.center1{
  list-style: none;
  padding: 0;
  overflow: hidden;
  border-style: solid;
  border-color:rgb(207, 184, 6);
  background-color: black;
  width: 99.45%;
}
/* Properties for the navbar buttons */
li a{
  display: block;
  padding: 16px;
  color:rgb(207, 184, 6);
  text-decoration: none;
  font-size: 25px;
}
/* Changes the color when hovered */
li a:hover{
  background-color:rgb(86, 77, 13) ;
}

.linkers:link, a:visited {
background-color: solid rgb(207, 184, 6);
padding: 14px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
border-style: solid;
color:  rgb(207, 184, 6);;
}
/* Changes the color when hovered */
.linkers:hover, a:active {
background-color:rgb(86, 77, 13) ;
}
/* This allows the video to be a background for the website */
.vbg {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}